<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
    <div class="container"></div>
    <h1>Create your income</h1>
    <form action="/budgets"method=POST> 
        <input name='name'placeholder='name' type='text'/>
        <input name='date'placeholder='date' type='date'/>
        <input name='amount'placeholder='amount' type='number'/>
        <input name='from'placeholder='from' type='text'/>
        <input value='submit' type='submit'/>
    
    </form>
</body>
</html>